<div class="cubic-container" 
     (touchstart)="onTouchStart($event)"
     (touchend)="onTouchEnd($event)"
     (wheel)="onWheel($event)">
  <div #cube class="cube">
    <div class="cube-face front">
      <router-outlet name="front"></router-outlet>
    </div>
    <div class="cube-face back">
      <router-outlet name="back"></router-outlet>
    </div>
    <div class="cube-face right">
      <router-outlet name="right"></router-outlet>
    </div>
    <div class="cube-face left">
      <router-outlet name="left"></router-outlet>
    </div>
    <div class="cube-face top">
      <router-outlet name="top"></router-outlet>
    </div>
    <div class="cube-face bottom">
      <router-outlet name="bottom"></router-outlet>
    </div>
  </div>
</div>

<!-- Navigation indicators -->
<div class="page-indicators">
  <div class="indicator" 
       [class.active]="currentPage === 0"
       (click)="navigationService.navigateToPage(0)"></div>
  <div class="indicator" 
       [class.active]="currentPage === 1"
       (click)="navigationService.navigateToPage(1)"></div>
</div>
