<!-- Background Container -->
<div class="bg-container"></div>

<!-- Main Container -->
<div class="main-container" (wheel)="onWheel($event)">
  <!-- Music Player removed from here - now in right-side-menu -->

  <!-- Main Content Area -->
  <main #mainContent>
    <section id="introduction">
      <!-- <app-introduction></app-introduction> -->
    </section>
    
    <section id="disc-1">
      <!-- <app-disc-one></app-disc-one> -->
    </section>
    
    <section id="disc-2">
      <!-- <app-disc-two></app-disc-two> -->
    </section>
    
    <section id="pv">
      <!-- <app-pv></app-pv> -->
    </section>
    
    <section id="information">
      <!-- <app-information></app-information> -->
    </section>
  </main>

  <!-- CD Cases -->
  <app-cd-cases></app-cd-cases>
</div>


