/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img {
  pointer-events: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important; /* Prevent scrolling on the body */
  position: relative;
}

/* Ensure app-root takes full height */
app-root {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden !important; /* Prevent scrolling on the root app container */
}
